<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="conf/jdbc.properties"/>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>


    <mappers>
        <!--告诉 mybatis 要执行的 sql 语句的位置-->
        <mapper resource="classpath:com/jun/mapper/UserMapper.xml"/>
    </mappers>
</configuration>